.card{
    display: flex;
    background: var(--bg) !important;
    width: 100% !important;
    justify-content: center !important;
    text-align: center;
    height: 145px !important;
    border: 1px solid var(--primary) !important;
    border-radius: 10px !important;
    padding: 1rem 0rem 0rem 4rem;

}

.card > p{
    color: var(--text) !important;
    font-weight: bold !important;
}
@media screen and (min-width: 1400px){}
@media screen and (max-width: 768px){
    .card{
        display: flex;
        background: var(--bg) !important;
        width: 900px !important;
        justify-content: center !important;
        text-align: center;
        height: 145px !important;
        border: 1px solid var(--primary) !important;
        border-radius: 10px !important;
        padding: 1rem 0rem 0rem 4rem;
        margin-bottom: 15px;
    }
    .totaldesc{
        text-align: left;
        font-size: 1rem;
        width: 80%;
        font-weight: 500 !important;
        color: var(--text);
    
    }
}
@media screen and (max-width: 480px){
    .card{
        display: flex;
        flex-direction: column !important;
        background: var(--bg) !important;
        width: 350px !important;
        height: 245px !important;
        border: 0 solid var(--primary) !important;
        border-radius: 10px !important;
        padding: 0rem;

        margin-top: 40px;
    
    }
.totaldesc{
    text-align: left;
    font-size: 1rem;
    width: 250px;
    font-weight: 600 !important;
    color: var(--text);

}
.buycont{
    position: absolute;
    bottom: 0;
    right: 0;
}
}